[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.9"
selenium = "*"
psycopg2-binary = "*"
model-bakery = "*"
six = "*"

[requires]
python_version = "3.8"
