[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
selenium = "*"
model-bakery = "*"

[packages]
django = "==3.0.9"
psycopg2-binary = "*"
six = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
