{% extends "core/base.html" %}
{% block page-title %}Demander la réinitialisation du mot de passe{% endblock %} 

{% block content %}
<section class="box-content">
    <div class="container">
        <div class="row">
            <div class='col-lg-10' id="password_reset_done">
                Si l'adresse {{email}} correspond bien à un compte actif tu vas recevoir un mail contenant les instructions pour changer ton mot de passe.
                Consulte ta boîte de réception et tes courriers indésirables pour les retrouver.
            </div>
        </div>
    </div>
</section>
{% endblock content %}