{% extends "core/base.html" %}
{% block page-title %}Réinitialiser le mot de passe{% endblock %} 

{% block content %}
<section class="box-content">
    <div class="container">
        <div class="row">
            <div class='col-lg-10' id="password_reset_done">
                Si l'adresse {{email}} correspond bien à un compte actif, vous allez recevoir un mail contenant les instructions pour changer votre mot de passe.
                Consultez votre boîte de réception (ou courriers indésirables) pour le retrouver. Sinon veuillez contactez l'administrateur du site via le 
                formulaire de contact.
            </div>
        </div>
    </div>
</section>
{% endblock content %}