{% extends "core/base.html" %}
{% block title %} Int'Aire'Mezzo | S'inscrire {% endblock %}
{% block page-title %}Activation du compte{% endblock %} 

{% block content %}
<section class="box-content">
    <div class="container">
        <div class="row">
            <div class='col-lg-10' id="activation_sent_message">
                Votre lien d'activation a été envoyé ! 
                Activez votre compte en cliquant sur le lien d'activation dans l'e-mail de confirmation que vous avez reçu.
            </div>
        </div>
    </div>
</section>
{% endblock content %}