{% extends "core/base.html" %}
{% load static %}
{% block title %} Int'Aire'Mezzo | Informations utilisateur{% endblock %}
{% block page-title %}{{ request.user.get_username }}{% endblock %}

{% block top_scripts %}
    {{ block.super }}
    <link href="{% static 'user/css/role.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="box-content">
        <div class="container">
            <div class="row">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Adresse mail :</label>
                        <div class="col-sm-9">
                            <p id="id_email" class="form-control-static">{{ request.user.get_username }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Mot de passe : </label>
                        <div class="">
                            <span class="col-sm-1 form-control-static">********</span>
                            <a id="id_modify_password" 
                               class="col-sm-3 btn form-control-static" 
                               href="{% url 'user:password_reset_confirm' uidb64=user_uid token=user_token %}?next={{request.path}}">
                               Modifier le mot de passe
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rôles : </label>
                        <div class="col-sm-9">
                            <ul class="list-inline form-control-static">
                            {% for role in roles %}
                                <li class="role">
                                    {{ role }}
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}