<div class="wrap-footer">
    <div class="row">
        <div class="col-md-7">
            <div class="footer-contact-form">
                <h2 class="footer-title">Contactez-nous</h2>
                <form method="post" action="{% url 'core:contact' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" name="name" id="name" placeholder="Votre nom" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control input-lg" name="email" id="email" placeholder="Votre email" required="required" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" name="subject" id="subject" placeholder="Objet du message" required="required" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea name="message" id="message" class="form-control" rows="4" cols="25" required="required" placeholder="Message" style="height: 190px;"></textarea>
                            </div>						
                        </div>
                    </div>
                    <button type="submit" class="btn btn-skin" name="submitcontact" id="submitcontact">Envoyer</button>
                </form>
            </div>
        </div>
        <div class="col-md-5">
            <div class="footer-contact-info">
                <div class="contact-info-item">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="contact-info-icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <h3>Adresse</h3>
                            <p>Association Int'Aire'Mezzo<br> 45 Rue Félix Despagnet<br> 40800 Aire-sur-l'Adour, France</p>
                        </div>
                    </div>
                </div>
                <div class="contact-info-item">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="contact-info-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <h3>Contact</h3>
                            <p>06 78 79 70 55</p>
                        </div>
                    </div>
                </div>
                <div class="contact-info-item">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="contact-info-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <h3>Email</h3>
                            <p>intairemezzo@hotmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>