{% extends "core/base.html" %}
{% load static %}
{% block title %} Int'Aire'Mezzo | Accueil {% endblock %}
{% block body %}
<body id="page-top" class="index-page">
    <div class="wrap-body">
        {% block header %}
            <header>
                <!---Main Header--->
                <div class="main-header">
                
                    {% block nav %}
                        {% include "core/navbar.html" %}
                    {% endblock nav %}

                    <!-- Static Header -->
                    <div class="header-text">
                        <div class="header-text-inner">
                            <h1>Int'Aire'Mezzo</h1>
                            <p>Ensemble instrumental d'Aire-sur-l'Adour</p>
                        </div>
                    </div><!-- /header-text -->
                    <!---Scroller--->
                    <div id="scroll-page-content">
                        <a href="#page-content" class="scroller">
                            <div class="scroller-button">
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </header>
        {% endblock header %}

        <section id="page-content" class="index-page">
            {% block content %}
            {% endblock content %}
        </section> 

        <footer id="footer">
            <div class="container">
                {% include "core/footer-contact-form.html" %}
                {% include "core/footer.html" %} 
            </div>
        </footer>

        {% block anchor-top %}
            {{ block.super }}
        {% endblock anchor-top %}

        {% block bottom_scripts %}
            {{ block.super }}
        {% endblock bottom_scripts %}
    </div>
</body>
{% endblock body %}

