{% extends "core/base.html" %}
{% load static %}
{% block title %} Int'Aire'Mezzo | Mentions légales {% endblock %}
{% block page-title %}Mentions légales{% endblock %} 

{% block content %}

<header class="box-content masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="col-lg-12 text-white mb-4">
            <p>Le présent site web a été réalisé par <a target="_blank" href="https://www.linkedin.com/in/loictessier/">Loïc Tessier</a> pour l'association Int'Aire'Mezzo. Le code source est <a target="_blank" href="https://github.com/loictessier/weborchestra">disponible ici</a>.</p>
            <p>Le site utilise les éléments suivants:</p>
            <dl id="legal-notices">
                <dt>Le <em>template</em></dt><dd> est adapté de <a target="_blank" href="https://www.zerotheme.com/33083/zlovedesign-free-bootstrap-template.html">ZeroTheme - zLoveDesign.</a></dd>
            </dl>
            <p class="">Aucune donnée personnelle n'est exploitée par ce site, hormis les adresses emails des membres inscrits. Actuellement, ces données servent strictement et uniquement au bon fonctionnement du site web. Toute modification de cette clause vous sera communiquée et soumise à votre validation formelle.</p>
        </div>
    </div>
</header>

{% endblock %}