{% load static %}
<nav id="menu" class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            <a class="navbar-brand" href="{% url 'core:index' %}">
                <img src="{% static 'core/images/logo.png' %}" width="250px"/>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}"><a href="{% url 'core:index' %}">Accueil</a></li>
                <li class="{% if request.resolver_match.url_name == 'music_library' %}active{% endif %}"><a href="{% url 'music_library:music_library' %}">Partothèque</a></li>
                {% if request.user.is_authenticated %}
                    <li class="{% if request.resolver_match.url_name == 'signout' %}active{% endif %}"><a href="{% url 'user:signout' %}">Se déconnecter</a></li>
                    <li class="{% if request.resolver_match.url_name == 'informations' %}active{% endif %}"><a href="{% url 'user:informations' %}">{{ request.user.get_username }}</a></li>
                {% else %}
                    <li class="{% if request.resolver_match.url_name == 'signin' %}active{% endif %}"><a href="{% url 'user:signin' %}">Se connecter</a></li>
                    <li class="{% if request.resolver_match.url_name == 'signup' %}active{% endif %}"><a href="{% url 'user:signup' %}">S'inscrire</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
