{% load static %}
<nav id="menu" class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            <a class="navbar-brand" href="{% url 'core:index' %}">
                <img src="{% static 'core/images/logo.png' %}" width="250px"/>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}"><a href="{% url 'core:index' %}">Accueil</a></li>
                <li class="{% if request.resolver_match.url_name == 'signup' %}active{% endif %}"><a href="{% url 'user:signup' %}">S'inscrire</a></li>
            </ul>
        </div>
    </div>
</nav>
