{% extends "core/base.html" %}
{% block title %} Int'Aire'Mezzo | Nouvelle partition {% endblock %}
{% block page-title %}{{ instrument }}{% endblock %}


{% block content %}
    <section class="box-content">
        <div class="container">
            {% if request.user.is_admin or request.user.is_music_library_moderator %}
                <div class="row">
                    <form class="col-lg-2 col-md-offset-9">
                        <button id="id_new_stand_button"
                                class="btn" 
                                formaction="{% url 'music_library:new_stand' score_id=score.id instrument_id=instrument.id %}">
                            Ajouter un pupitre
                    </form>
                </div>
            {% endif %}
            <div class="row" style="padding-top: 4em;">
                {% if stands %}
                    {% for stand in stands %}
                        <div class="stand col-lg-3">
                            <div class="row">
                                <a href="{{ stand.get_absolute_url }}">
                                    <div class="col-lg-12 text-center">
                                        <span class="fa-stack fa-5x">
                                            <i class="fa fa-file-o fa-stack-2x"></i>
                                            <i class="fa fa-music fa-stack-1x"></i>
                                        </span>
                                    </div>
                                    <span class="stand_name col-lg-12 text-center">{{ stand.name }}</span>
                                    {% if request.user.is_admin or request.user.is_music_library_moderator %}
                                    <p class="stand_actions col-lg-12 text-center">
                                        <a href="{% url 'music_library:delete_stand' score_id=score.id instrument_id=instrument.id stand_id=stand.id %}">
                                            <i class="fa fa-trash fa-2x"></i>
                                        </a>
                                        <a href="{% url 'music_library:edit_stand' score_id=score.id instrument_id=instrument.id stand_id=stand.id %}">
                                            <i class="fa fa-pencil fa-2x"></i>
                                        </a>
                                    </p>
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div id="id_no_stands_message" class="col-lg-12">Il n'existe pas encore de pupitre pour cet instrument.</div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}